.main{
    background-color:aquamarine;
    height: 644px;
    width:90rem;
   // background-image: url('/assets/images/nature.jpg');
    //background-repeat: no-repeat;
    //background-size: cover;
    
}
.title-section{
    margin:auto;
    text-align: center;
}
.city-section{
    font-size:20px;
    font-family:'courier New';
    color:#E91E63;
}
.nav{
    background-color: #E91E63;
}


