<div class="main">
  <div class="nav">
    <h1 class="title-section"> {{title}}</h1>
  </div>
  <p class="city-section">{{city3}}</p>
  {{name}}
  <p>{{name}}</p>
  <p>{{no1 + no2}}</p>   <!-- can we pass arithmatic expression in string interpulation :yes-->
  <p>{{500+40}}</p>
  <p>{{500 + 'siddhi' + 40+20}}</p>
  <p>{{500+20 + 'siddhi' + 40+20}}</p>

  <p>{{learningInterpolation()}}</p>
  <!-- we can pass function into the interpolution-->

  <!-- <p>{{no2 = 600}}</p>assigning  value to the property from intrpolation is not possible-->

  <!--<p>{{}}</p> parser error are not allowed ininterpolated strings-->

  <p>{{no2 ==20}}</p> <!-- it will return true or false-->
 <p>{{cars}}</p>
 <p>{{student.name}}</p>
 <p>{{student.age}}</p> 

 <!--property binding-->

  Name : <input type="text" value = 'siddhi' placeholder = 'please enter your name'>
  Name : <input type="text" [value] = 'city2' placeholder = 'please enter your name'>
  Carname : <input type="text" [value] = 'car'><br>
  student age : <input type="text" [value] ='student.age'><br>
  Gender :
  male : <input type="radio" [value] ="genderM" name ="gender" (change)="gen($event)">
  Female : <input type="radio" [value] ="genderF" name ="gender" (change)="gen($event)">
  <br>
  Hobbies:
  Painting: <input type="checkbox" [value] = "paintinghobby"  (change)="hobbies($event)">
  Swimming : <input type="checkbox" [value] = "swimminghobby" (change)="hobbies($event)">
  Reading : <input type="checkbox" [value] = "readinghobby" (change)="hobbies($event)">  
<br>
  <!-- event binding : event binding is used to handle the event raised from the DOM like button click, mouse move etc. when the DOM event(click,change,keyup
    it calls the specified method in the componant)--> 
    <button (click) = 'submit($event)'>submit</button>
    <br>
    <!-- two way data binding : two way data binding has feature to update data from componant to view and vice-versa.-->
  
    Student Name : <input type="text"[(ngModel)]="studentName">
   <p>{{studentName}}</p> 
   Emp Name: <input type="text"[(ngModel)]= "EmpName">
   {{EmpName}}
   <button (click)="addition()">Addition</button>
   <form>
    <input type="text"[(ngModel)]='num1'>num1 <br>
    <input type="text"[(ngModel)]='num2'>num2 <br>

    <button (click)="addition()">Addition</button>
   </form>
     <p>{{result}}</p>
   <br><br><br>
</div><br>
<br>
<br>
<br>
<br>
<br>
<button (click)="landing()">Landing</button>


siddhi swaransh
<router-outlet></router-outlet>
